table{
    border:solid 2px;
    width: 50px;
   background-color: white;
    display: inline-table;
    table-layout: fixed;
   
    
}
tr{
  font-weight: bold; 
}
div {
   width:30%; 
   border:solid 3px;
   background-color: white;
}

.winter{
    background-image: url("winter/snow-man.jpg");
}
.spring {
    background-image: url("spring/spring2.jpg");
}
.fall{
    background-image: url("fall/fall.jpg");
}
.summer{
    background-image: url("summer/summer2.jpg");
}
body{
   width:100%;
}
h1 {
    font-weight: bolder;
}