body{
    text-align: center;
    background-color: blue;
    margin-left: 50px;
    margin-right: 50px;
}
.quotes{
    border-style: solid;
    border-radius: 25px;
    border-top-style: dotted;
    border-bottom-style: dashed;
    background-color: grey;
    font-size: 18px;
     margin-left: 50px;
    margin-right: 50px;
    
}