body {
    text-align: center;
    background-color:gray;
    opacity: 100;
    margin-left: 50px;
    margin-right: 50px;
    
}
#add{
    border-style: solid;
    border-radius: 25px;
    padding-top: 25px;
    
}
#add h2{
    font-weight: bold;
    font-style: italic;
}
