a {
   
    text-decoration: none;
}

img {
    border-radius:50px;
    float:left;
    
}

aside {
    
    display:inline-block;
}
.border {
    border-style:  Solid;
    background-color: orange;
    
}
nav a:hover{
    font-size: 24px
}
nav a{
    transition: 2s;
    font-size: 18px;
}

li {
    font-weight: bold;
}

iframe {
    text-align: center;
}