a {
   
    text-decoration: none;
}

img {
    border-radius:50px;
    float:left;
    
}

aside {
    
    display:inline-block;
}
.border {
    border-style:  Solid;
    
}
nav a:hover{
    font-size: 24px
}